﻿@model MvcBlogByStefan.Models.Post

@{
    ViewBag.Title = "Content";
}

<fieldset>
    <legend>@Html.DisplayFor(model => model.post_title)</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.post_text)
    </div>

    <br />

    <div class="display-field">
        By
        [@Html.DisplayFor(model => model.post_creator)]
        on
        [@Html.DisplayFor(model => model.post_created_on)]
    </div>
    @if (Html.DisplayFor(model => model.post_edited_on).ToString() != "")
    {
    <div class="display-label">Last edited on: [@Html.DisplayFor(model => model.post_edited_on)]</div>
    }
</fieldset>
<p>
    @if (Request.IsAuthenticated && User.Identity.Name == Model.post_creator) 
    {
        @Html.ActionLink("Edit", "Edit", new { id=Model.post_id })
        <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>

@if (Request.IsAuthenticated)
{
    Html.BeginForm("Content", "Home", FormMethod.Post, new {@id = "comment_form"} );
    <fieldset>
        <legend id="legend_text"><a href="#" onclick="return false;">Write A Comment</a></legend>
        <div id="fieldset_contents">
            @Html.HiddenFor(model => model.post_id)

            <div class="editor-label">
                Comment
            </div>
            <div class="editor-field">
                @Html.TextArea("comment_text", new { cols = 50, rows = 5 })
            </div>

            <br />
            <input type="submit" value="Post Comment" />
            <span id="content_error"></span>
        </div>
    </fieldset>
    Html.EndForm();
}

@{
    var commentsList = ViewData["Comments"] as List<MvcBlogByStefan.Models.Comment>;
}    
    
@foreach (var comment in commentsList) {
     <fieldset>
        <legend>@Html.ActionLink(comment.comment_creator, "Users", new { id = comment.comment_creator })</legend>
        On
        [@comment.comment_created_on] said:
        <br />
        <br />
        @comment.comment_text
     </fieldset>
}