﻿@model MvcBlogByStefan.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@if (Request.IsAuthenticated)
{
    Html.BeginForm("Create", "Home", FormMethod.Post, new { @id = "create_form" });
        <fieldset>
            <legend>New</legend>

            <div class="editor-label">
                Title
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.post_title)
            </div>

            <div class="editor-label">
                Content
            </div>
            <div class="editor-field">
                @Html.TextArea("post_text", new { cols = 100, rows = 10 })
            </div>

            <br />
            <input type="submit" value="Create" />
            <span id="content_error"></span>
        </fieldset>
    Html.EndForm();
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
