﻿@model MvcBlogByStefan.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <p>Please confirm you want to delete the post titled: <br />
    <i> @Html.Encode(Model.post_title)? </i> 
    </p>
</div>

@using (Html.BeginForm()) {
    <input name="confirmButton" type="submit" value="Delete" />
}