﻿@model MvcBlogByStefan.Models.Post

@{
    ViewBag.Title = "Edit";
}

<script src="@Url.Content("~/Scripts/ckeditor.js")" type="text/javascript"></script>

<h2>Edit</h2>

@if (Request.IsAuthenticated)
{
    Html.BeginForm("Edit", "Home", FormMethod.Post, new { @id = "edit_form" });
        <fieldset>
            <legend>@Html.DisplayFor(model => model.post_title)</legend>

            @Html.HiddenFor(model => model.post_id)

            <div class="editor-label">
                Title
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.post_title)
            </div>

            <div class="editor-label">
                Content
            </div>
            <div class="editor-field">
                @Html.TextArea("post_text", new { cols = 100, rows = 10 })
            </div>

            <br />
            <input type="submit" value="Save" />
            <span id="content_error"></span>
        </fieldset>
    Html.EndForm();
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
