﻿@model IEnumerable<MvcBlogByStefan.Models.Post>

@{
    ViewBag.Title = "Home";
}

<ul>
@foreach (var item in Model) {
    <li>
        <h3>
            <a href="/Home/Content/@item.post_id">@Html.DisplayFor(modelItem => item.post_title)</a>
        </h3>
        @Html.DisplayFor(modelItem => item.post_excerpt)
        <br />
        <br />
        
        By
        [@Html.ActionLink(item.post_creator, "Users", new { id = item.post_creator })]
        on
        [@Html.DisplayFor(modelItem => item.post_created_on)]
        
        @if (Request.IsAuthenticated && User.Identity.Name == item.post_creator) 
        {
            @Html.ActionLink("Edit", "Edit", new { id=item.post_id })
            <span> | </span>   
            @Html.ActionLink("Content", "Content", new { id = item.post_id })
            <span> | </span>  
            @Html.ActionLink("Delete", "Delete", new { id = item.post_id })
        }

        <hr />
    </li>
}
</ul>

@{
    string page_num = Request.QueryString["page"];
    int next_page = Convert.ToInt32(page_num) + 1;
    int previous_page = Convert.ToInt32(page_num) - 1;
    if (previous_page > -1)
    {
        @Html.ActionLink("<<<", "Index", new { page = previous_page })
        <span> | </span>      
    }
}
@Html.ActionLink(">>>", "Index", new { page = next_page })