﻿@model IEnumerable<MvcBlogByStefan.Models.Post>

@{
    ViewBag.Title = "Users";
}

<fieldset>
<legend>User @ViewBag.User</legend>

<ul>
@foreach (var item in Model)
{
    <li>
        <h3>
            <a href="/Home/Content/@item.post_id">@Html.DisplayFor(modelItem => item.post_title)</a>
        </h3>
        @Html.DisplayFor(modelItem => item.post_excerpt)
        <br />
        <br />

        Posted on [@Html.DisplayFor(modelItem => item.post_created_on)]

        @if (Request.IsAuthenticated && User.Identity.Name == item.post_creator)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.post_id })
            <span> | </span>   
            @Html.ActionLink("Content", "Content", new { id = item.post_id })
            <span> | </span>  
            @Html.ActionLink("Delete", "Delete", new { id = item.post_id })
        }
        <hr />
    </li>
}
</ul>
</fieldset>
